@import './menu.css';

.header {
    background: var(--white);
    top: 0;
    position: sticky;
    z-index: 1;
    transition: all .4s;
}

.header-content {
    position: relative;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-block-start: .8rem;
    padding-block-end: .8rem;
}

.header-content header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    inline-size: 6.3125rem;
}

.header-logo img {
    vertical-align: middle;
    inline-size: 100%;
}

.header-menu .icon-menu {
    color: var(--green);
    font-size: 2rem;
    cursor: pointer;
}

@media screen and (min-width: 768px){
    
    .header-menu .icon-menu {
        display: none;
    }

    .header-content {
        position: initial;
    }

    .header-logo {
        inline-size: 8.41rem;
    }
}