#menu-btn:checked + nav {
    inset-inline-start: 0;
}

#menu-btn {
    display: none
}

.menu {
    position: absolute;
    background: var(--green);
    block-size: 100vh;
    top: 0;
    inset-inline-start: -50%;
    inline-size: 50%;
    transition: .3s ease-out all;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.menu-listItem a {
    display: block;
    padding-inline: 1rem;
    padding-block: .825rem;
    text-transform: uppercase;
    color: var(--white);
    font: var(--lightFont);
    transition: .3s ease-in all;
}

.menu-listItem a:hover {
    background: var(--white);
    color: var(--green);
    /* padding-inline-start: 1.5rem; */
}

@media screen and (min-width: 768px){
    .menu {
        position: initial;
        block-size: auto;
        inline-size: auto;
        background: initial;
    }
    .menu-list {
        flex-direction: row;
    }

    .menu-listItem a {
        text-transform: initial;
        color: var(--green);
        font: var(--regularFont);
        padding-inline-start: .7rem;
        padding-inline-end: .7rem;
        white-space: nowrap;
        border-block-end: 1px solid transparent;
    }

    .menu-listItem a:hover {
        border-block-end: 1px solid var(--green);
    }

}