@import './section-intro.css';
@import './section-about.css';
@import './section-offer.css';
@import './section-comercial.css';
@import './section-help.css';
@import './section-residential.css';
@import './section-services.css';
@import './section-why.css';
@import './section-desinfection.css';

section, div.section-why {
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.section-content {
    padding: 1.5rem;
    text-align: center;
}